 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(211 203 203 / 90%);
        }

        header {
            background-color: #131921;
            width: 100%;
        }

        nav {
            display: flex;
            align-items: center;
            padding: 1% 2% 1% 2%;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;

        }

        .mainlogo img {
            width: 7vw;
            /* Responsive width */
            max-width: 105px;
            /* Prevents from getting too large */
            min-width: 43px;
            position: relative;
            top: 0.5vw;
        }

        .mainlogo {
            padding: 0% 1%;
            cursor: pointer;
        }

        .maptext:hover {
            outline: 2px solid white;
            cursor: pointer;
        }

        .mainlogo:hover {
            outline: 2px solid white;
        }

        .navleft {
            display: flex;
            align-items: center;
            padding-right: 1.55%;
        }

        .maplogo img {
            top: 5px;
            position: relative;

            width: 2.85vw;
            max-width: 30px;
            min-width: 10px;
        }

        .maptext {
            display: flex;
            align-items: end;
            white-space: nowrap;
            padding: 0.3vw 0.5vw;


        }

        .mtext>div:first-child {
            color: rgb(196, 194, 194);
            font-weight: 500;
            font-family: sans-serif;
        }

        .mtext>div:nth-child(2) {
            color: white;
            font-family: sans-serif;
            font-weight: 700;
        }


        .mtext {
            color: rgb(255, 255, 255);
            max-width: 210px;
            font-size: 1.01vw;
            min-width: 68px;

        }

        @media (max-width: 450px) {
            .mtext {
                font-size: 4px;
            }
        }

        @media (min-width:1000px) {
            .mtext {
                font-size: 11px;
            }

            .maplogo img {
                width: 300px;
            }


        }

        @media (max-width:1000px) {
            .selection {
                width: 45px;
            }

            #opt {
                width: 45px;
            }

            .flagtext #lang {
                font-size: 10px;

                font-family: system-ui;
            }
        }


        .navmiddle {

            display: flex;
            border-radius: 8px;
            border: 3px transparent;



        }

        .navright {
            color: white;
            padding: 0.1% 2%;
        }

        .searchicon {
            background-color: rgb(246, 173, 38);
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3vw;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
        }


        .searchicon svg {
            width: 1.8vw;
            height: 1.8vw
        }

        #opt {
            padding: 0.788vw 0px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            width: 45px;
            cursor: pointer;
        }

        .selection {
            border-right: 2px solid #b4afaf;


        }

        input {
            padding: 0.79vw 0px;
            width: 40vw;
            height: 16px;
            font-size: 13.1px;
            padding-left: 10px;
            background-color: transparent;
        }

        @media (min-width:900px) {
            input {
                font-size: 17px;
            }

        }

        .textar {
            background-color: white;
            display: flex;
            align-items: center;
        }

        .navmiddle:focus-within {

            outline: 3px solid rgb(255, 157, 0);

            /* optional for glow */
        }

        @media (max-width:550px) {
            input {
                width: 29vw;
            }

            #opt {
                font-size: 15px;

            }
        }

        #opt,
        input,
        .searchicon {
            border: none;
            outline: none;

        }

        @media (max-width:460px) {
            input {
                width: 20vw;
                font-size: 2.1vw
            }
        }

        @media (max-width:380px) {
            input {
                width: 14vw;
                font-size: 1.5vw;
            }

            #opt {
                width: 2px;

                padding: 3px;
            }

            .selection {
                width: 20px;
            }

        }

        .navright {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 1.5vw;
            position: relative;
            column-gap: 1vw;
        }

        @media (max-width:1318px) {
            input {
                width: 38vw;
            }
        }

        /* @media (max-width:1240px) {
            input {
                width: 35vw;
            }
        }  */
        @media (max-width:1238px) {
            input {
                width: 35vw;
            }
        }

        @media (max-width:1163px) {
            input {
                width: 28vw;
            }

            .navright {
                position: relative;
                gap: 3vw;
            }

        }

        @media (max-width:886px) {
            input {
                width: 23vw;
            }

            .navright {
                position: relative;
                gap: 3vw;
            }

        }

        @media (max-width:642px) {
            .navright {
                position: relative;
                gap: 1.82vw;
            }
            .cart img{
                width: 2vw;
            }


        }

        @media (max-width:555px) {
            input {
                width: 15vw;
            }
        }

        .flagtext {
            display: flex;
            align-self: end;
            padding: 9px 1px 5px 2px;

        }

        .flagtext:hover {
            outline: 2px solid white;
        }

        .flagtext>span:first-child {
            padding-right: 1px;
            cursor: pointer;
        }

        .flagtext #lang {
            outline-style: none;
            border: none;
            color: white;
            background-color: transparent;
            font-weight: 700;
            cursor: pointer;
        }

        @media (max-width:466px) {

            .navmiddle,
            .flagtext {

                display: none;
            }

            .sign1 {
                font-size: 10px;
            }

        }

        .langs {
            color: black;
        }

        .signin {
            padding: 5px 4px;
            cursor: pointer;
        }

        .sign1 {
            font-size: 0.9vw;
            color: #cecfd0;
            font-weight: 600;
        }

        .sign2 {
            font-size: 1vw;
            line-height: 13px;
            font-weight: 600;
            font-family: sans-serif;
        }

        .cart img {
            width: 2.5vw;
            padding-left: 0.7vw;
        }

        .return {
            padding: 3px 6px 5px 6px;
            cursor: pointer;
        }

        .return:hover {
            outline: 2px solid white;
        }

        .return1 {
            font-size: 0.9vw;
            color: #cecfd0;
            font-weight: 600;
        }

        .return2 {
            font-size: 1vw;
            line-height: 13px;
            font-weight: 600;
            font-family: sans-serif;
        }

        .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 3px 4px 4px 2px;
        }

        .cart:hover {
            outline: 2px solid white;
        }

        .signin:hover {
            outline: 2px solid white;
        }

        .return:hover {
            outline: 2px solid white;
        }

        .cart:hover {
            outline: 2px solid white;
        }

        @media (max-width:466px) {
            .cart>img {
                width: 5vw;
            }

            .sign1 {
                font-size: 1.6vw;
            }

            .sign2 {
                font-size: 1.6vw;

            }

            .return1 {
                font-size: 1.6vw;
            }

            .return2 {
                font-size: 1.6vw;

            }

            .navleft img {
                width: 1vw;
            }

            .maplogo img {
                width: 6vw;
            }

            .mtext {
                font-size: 1.7vw;
            }
          

        }

        .navright {
            white-space: nowrap;
            /* Prevent wrapping */
            flex-wrap: nowrap;
            /* Prevent inner flex items from wrapping */
        }

        .navright>div {
            white-space: nowrap;
            /* Applies to each item individually */
            min-width: 0;
            /* Prevents flex from forcing wrap due to width */
            overflow: hidden;
            /* Optional: hide overflow text */
            text-overflow: ellipsis;
            /* Optional: show ... on overflow */
        }

        .nav2 {
            background-color: #232f3e;
        }

        .nav2a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            white-space: nowrap;
            padding-left: 1vw;
            overflow: hidden;


        }

        .nav2a>li {
            /* flex-shrink: 1; */
            padding: 0.8vw;
            font-size: 15.05px;
            color: white;
            overflow: hidden;

        }

        @media(max-width:1420px) {
            .nav2 li:nth-last-child(1) {
                display: none;
            }

        }

        @media(max-width:1340px) {
            .nav2 li:nth-last-child(2) {
                display: none;
            }

        }

        @media(max-width:1177px) {
            .nav2 li:nth-last-child(3) {
                display: none;
            }

        }

        @media(max-width:1069px) {
            .nav2 li:nth-last-child(4) {
                display: none;
            }

        }

        @media(max-width:920px) {
            .nav2 li:nth-last-child(5) {
                display: none;

            }

            .nav2a>li {
                font-size: 1.68vw;
            }
        }

        .bg1>img {
            height: 100%;
            width: 100%;
            background-color: aqua;


        }


        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1vw;
            align-items: stretch;
        }



        .mainbox {
            display: grid;
            grid-template-areas:
                "one one"
                "two two";
            width: 98.7%;

            align-items: center;
            justify-self: center;
            height: 100%;
            flex-grow: 1;
        }

        .mainbox>div {

            width: 100%;

        }

        .mainbox>div>img {
            margin: 2px;
            height: 90%;
            width: 80%;
            position: relative;

        }

        .divimg>div:nth-child(2) {
            font-size: 0.73vw;
            text-align: center;

        }

        .gridding {

            height: 100%;
            width: 100%;
            padding: 5% 0% 15% 4%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fcfcfd;

        }

        .gridding>div:first-child {
            padding-top: 1%;
            width: 100%;
            padding-right: 10%;
            font-size: 1.39vw;
            position: relative;
            bottom: 0vw;
            font-weight: 600;
            font-family: "Amazon Ember", Arial, sans-serif;
        }

        .spansee {
            position: relative;
            bottom: -12%;
            font-size: 1vw;
            color: #2471bc;
        }

        .divimg {
            display: flex;
            flex-direction: column;
            height: 90%;
        }

        .card-section,
        .mainbox,
        .divimg {
            max-width: 100%;
            box-sizing: border-box;
        }

        .bg1 {
            background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/2024/BAU_BTF/Nov/Unrec/Shoes/1/30003._CB542120021_.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            padding-top: 24vw;
            /* Control how tall the background appears */
            position: relative;
        }

        .bg1::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            /* adjust based on how much fade you want */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(227 222 222 / 90%) 100%);
            z-index: 0;
            pointer-events: none;
        }

        .cardsection {
            display: flex;

            justify-content: center;
            padding: 0vw 0vw 0vw 0vw;

            /* This pulls the cards up over the background image */
            z-index: 2;
            position: relative;
            margin: 0vw 2vw 0vw 2vw;

        }

        @media (max-width: 1000px) {
            .grid {
                grid-template-columns: repeat(3, 1fr);
                /* 3 cards per row */
            }

            .grid4 {
                display: none;
                /* 4th card hidden completely */
            }

        }

        @media (max-width: 466px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
                /* 3 cards per row */
            }

            .grid3 {
                display: none;
                /* 4th card hidden completely */
            }

            .cardsection {
                margin-top: 5vw;
            }
            .divimg>div:nth-child(2) {
                font-size: 1.52vw;
            }
            .spansee{
                font-size: 1.52vw;
            }
            .nav2a{
                padding-left: 0px;
            }

            
        }

        header {
            position: sticky;
            top: 0;
            z-index: 1000;
            /* ya dark, jaise bhi nav ka bg ho */
        }

        /* Make sure .nav2 is not sticky */
        .content {
            display: flex;
            overflow-x: auto;
            gap: 10px;
            padding: 10px;
            white-space: nowrap;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        .parts {
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }

        .parts img {
            padding: 0px 25px 0px 12px;
            width: 11vw;
            height: 14vw;
        }

        /* @media (max-width:1385px) {
            .content {
                gap: 3px;
            }
        } */

        @media (max-width:1205px) {
            .content {
                gap: 25px;
            }
        }

        @media (max-width:650px) {
            .content {
                gap: 14px;
            }

        }

        @media (max-width:466px) {
            .content {
                gap: 19px;
            }

            .parts>img {
                height: 55px;
                width: 80px;

            }

        }

        /* @media (max-width:650px) {
            .content{
                gap: 10px;
            }
             */

        /* @media (max-width:1020px) {
            .content {
                gap: 15px;
            }
        } */

        /* @media (max-width:1000px) {
            .content {
                gap: 15px;
            } */

        /* .parts>img {
                width: 19vw;
                height: 19vw;
            } */


        .allcontent {
            background-color: white;
            margin: 1vw 2vw 1vw 2vw;
        }

        .contentheading {
            display: flex;
            align-items: center;
            gap: 1%;
            padding: 1% 0% 1% 5%;

        }

        .contentheading>div:first-child {
            font-size: 1.42vw;
            font-weight: 600;
            font-family: sans-serif;
        }

        .contentheading>div:nth-child(2) {
            color: #2471bc;
            font-size: 1.08vw;
        }

        .cardsection2 {
            margin-top: 0px;
        }

        .footer {
            list-style: none;
        }

        .totop {
            background-color: #404c5c;
            text-align: center;
            padding: 10px 0px;
            font-weight: 600;
            font-size: 15px;
            color: #e3e1e1;

        }

        .listitem {
            display: flex;
            background-color: #232f3e;
            justify-content: center;
            column-gap: 51px;
        }

        .listitem>div {
            padding: 10px 20px;
        }

        .listitem>div>li {
            padding: 3px;
        }

        .icons {
            display: flex;
            background-color: #232f3e;
            justify-content: center;
            align-items: center;
            column-gap: 8em;
            height: 129px;
        }

        .langicons {
            display: flex;
            gap: 11px;

        }

        .english,
        .hindi {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 29px;
        }

        .icons img {
            height: 19px;
            width: 25px;
        }


        .amazonicon>img {
            width: 84px;
            height: 32px;
            position: relative;
            top: 9px;

        }

        .langicons>button {
            width: 113px;
            background-color: transparent;
            border-style: none;
            border: 1px solid #696262;
            color: #aca9a9;
            border-radius: 3px;

            /* box-shadow: 1px 1px 1px 1px red; */

        }

        .bottom {

            background-color: #131921;
            color: white;
            padding: 27px 0px 37px 0px;
        }




        .copyrightcontent {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 13px;
        }

        .maincopyright {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bottom1,
        .bottom2 {
            display: flex;
            justify-content: center;
            margin-top: 13px;
            gap: 80px;
            font-size: 14px;

        }

        .bottom1>div {
            width: 133px
        }

        .bottom2>div {
            width: 133px;
        }

        .copyright {
            padding-top: 23px;
        }

        .listfont {

            font-size: 15px
        }

        .bottom li:nth-child(2) {
            color: #aca9a9
        }

        .copyright,
        .bottom h4 {
            color: #e3dada;
        }

        .listitem h3 {
            color: #e3e1e1;
        }

        .listitem li {
            color: #aca9a9
        }

        .line {
            background-color: #464747;
            height: 1px;

        }

        .listitem {
            padding-bottom: 37px;
        }

        @media (max-width:1000px) {
            .listitem li {
                font-size: 1.51vw;
            }

            .totop {
                padding: 1vw 0vw 1vw 0vw;
                font-size: 1.2vw;
            }

            .listitem {
                padding-bottom: 3vw;
                column-gap: 0px;
            }

            .listitem>div {
                padding: 3vw 3vw;
            }

            .listitem>div>li {
                padding: 0.21vw;
            }

            .line {
                background-color: #464747;
                height: 0.1vw;
            }

            .icons {
                display: flex;
                background-color: #232f3e;
                justify-content: center;
                align-items: center;
                column-gap: 11%;
                height: 14vw;
            }

            .amazonicon>img {
                width: 8vw;
                height: 3vw;
                position: relative;
                top: 1vw;
            }

            .langicons {
                display: flex;
                gap: 2vw;
            }

            .langicons>button {
                width: 12vw;
                background-color: transparent;
                border-style: none;
                border: 1px solid #696262;
                color: #aca9a9;
                border-radius: 3px;
                /* box-shadow: 1px 1px 1px 1px red; */
            }

            .english,
            .hindi {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 3vw;
            }

            .langeng {
                font-size: 1.3vw;
            }

            .langhin {
                font-size: 1.3vw;
            }

            .english svg {
                height: 2.5vw;
                width: 2.2vw;
            }

            .hindi img {
                height: 2.5vw;
                width: 2.2vw;
            }

            .english li,
            .hindi li {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .bottom {
                background-color: #131921;
                color: white;
                padding: 3vw 0vw 4vw 0vw;
            }

            .bottom1,
            .bottom2 {
                display: flex;
                justify-content: center;
                margin-top: 3vw;
                gap: 5vw;
                font-size: 1.5vw;
            }

            .bottom1>div {
                width: 14vw;
            }

            .bottom2>div {
                width: 14vw;
            }

            .copyrightcontent {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 2vw;
            }

            .copyright {
                font-size: 1.8vw;
            }
        }

        .nav2a li:hover {


            cursor: pointer;
        }

        .divimg img {
            cursor: pointer;
        }

        .divimg div {
            cursor: pointer;
        }

        .parts img {
            cursor: pointer;
        }

        .totop:hover {
            background-color: #4a5a69;
        }

        .listfont span {
            cursor: pointer;

        }

        .listfont span:hover {
            text-decoration: underline;
        }
    .copyrightcontent>h5 ,    .maincopyright>h5{
            cursor: pointer;

        }
     .copyrightcontent>h5:hover ,   .maincopyright>h5:hover{
            text-decoration: underline;
        }
        .bottom span{
            cursor: pointer;
        }
        .bottom span:hover{
            text-decoration: underline;
          
        }